---
import Cube from "../components/Cube.astro";
import Bubbles from "../components/Bubbles.astro";
import Content from "../components/Content.astro";
import Contact from "../components/Contact.astro";
import Ufo from "../components/Ufo.astro";
import Octopus from "../components/Octopus.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body
		class="bg-gray-900 text-white select-none scroll-smooth overflow-x-hidden"
		x-data="data"
		x-init
	>
		<div
			class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 w-80 text-center transition-all duration-1000  "
			:class="{'animate-pulse':true}"
		>
			<span >WELCOME TO</span>
			<div
				class="border-2  rounded-3xl px-2 py-2 "
			>
				<div
					class=" font-bold text-5xl  "
					@click="smoothScroll('#section1')"
				>
					-{"<"}.VitC.{">"}-
				</div>

			</div>
		</div>

		<div
			id="ocean"
			class=" ocean-container relative linear-gradient-to-b from-blue-500 to-blue-800 overflow-hidden items-center justify-center"
		>
			<div class="liquid liquid-sm"></div>
			<div style="height:450vh"> </div>

			<secton id="section1"  >
				<div class="absolute z-50 w-full" >
					<Content ></Content>
					<div
						x-ref="footer"
						x-cloak
						id="footer"
						x-transition.duration.500ms
						class="flex justify-center "
						style="margin-top:10rem;"
						:class="{'opacity-100 transition-opacity duration-500': showFooter, 'opacity-0': !showFooter}"
					>
						<button
							class=" hover-box  z-20 font-bold text-4xl  "
							:class="{'sticky': showFooter}"
							@click="smoothScroll('#section2')"
						>
							<h2>CONTACT US</h2>
						</button>
					</div>
				</div>
			</section>
			<div  style="height:250vh"></div>
			<section id="section2"  >
				<div x-ref="contact" id="contact"  class="absolute w-full" >
					<Contact></Contact>
				</div>
			</section>

			<div style="height:250vh"> </div>
			<template x-if="$store.globalState.bubbleScore > 10">
				<Ufo></Ufo>
			</template>

			<template x-if="$store.globalState.bubbleScore > 100">
				<div  class="relative  items-center justify-center left-48 " style="bottom:100vh; height:0">
					<Octopus></Octopus>
				</div>
			</template>

			<Bubbles></Bubbles>
		</div>

	</body>
	<script >
		import Alpine from 'alpinejs';
		import {scrollTo} from '../scripts/scrollControl';

		Alpine.store('globalState', {
			bubbles:[],
			bubbleScore:0,
		});

		Alpine.data('data', () => ({
			showFooter:false,
			// Initialize IntersectionObserver
			init() {
				var options = {
					root: document.documentElement
				};

				var observer = new IntersectionObserver((entries, observer) => {
					let footer = false
					let contact = false
					for (var i = 0; i < entries.length; i++) {
						const entry = entries[i];
						if(entry.target.id==="contact") {
							contact = (entry.intersectionRatio > 0)
						}
						if(entry.target.id==="footer"){
							footer = entry.intersectionRatio > 0
						}
						if(contact){
							this.showFooter=false
						} else{
							this.showFooter = footer
						}
					}

				} );

				const element = this.$refs.footer;
				observer.observe(element);
				observer.observe(this.$refs.contact);

			},
			onVisible(element, callback) {

			},
			smoothScroll(target) {

				const targetPos = document.querySelector(target).offsetTop;

				window.scrollTo({
					top: targetPos,
					behavior: 'smooth' // Smooth scroll effect
				});
				// scrollTo(document.querySelector(target).offsetTop);
			}
		}));
	</script>
	<style>
		.sticky {
            position: fixed;
            bottom: 4rem;
            background-color: #4A5568; /* Tailwind gray-600 */
            z-index: 10; /* Ensure it stays above other content */
        }
		html {
            scroll-behavior: smooth; /* Enables smooth scrolling */
        }

		[x-cloak] {
			position:relative;
			display: none;
		}

		.ocean-container{
			background:linear-gradient(to bottom, #7293ff, #0c1121);
		}

		.liquid {
			position: absolute;
			width:2400px;
			height: 1200px;
			transition: 1.6s;
		}

		.liquid-sm{
			left:-500px;
			top:-10%;
		}

		.liquid::after,
		.liquid::before {
			position: absolute;
			content: "";
			width: 200%;
			height: 400%;
			transform: translate(-25%, -75%);
		}

		.liquid::after {
			border-radius: 45%;
			background: rgba(20, 20, 20, 1);
			box-shadow: 0 0 10px 5px #7293ff, inset 0 0 5px #7293ff;
			animation: animate 28s linear infinite;
			opacity: 0.8;
		}

		.liquid::before {
			border-radius: 40%;
			box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
				inset 0 0 5px rgba(26, 26, 26, 0.5);
			background: rgba(26, 26, 26, 0.5);
			animation: animate 28s linear infinite;
		}

		@keyframes animate {
			0% {
				transform: translate(-25%, -75%) rotate(0);
			}
			100% {
				transform: translate(-25%, -75%) rotate(360deg);
			}
		}

		.hover-box {
			padding:0.75rem;
			border-radius: 5px;
            /* background-color: #3498db; */
            background-color: #7293ff;
        }

		.hover-box:hover   {
			box-shadow: 0 0 15px #7293ff, inset 0 0 15px #7293ff;
			transition-delay: 0.1s;
        }

	</style>
</html>

