---
import Header from "../components/Header.astro";
import SVGDOCU from "../components/SVGDOCU.astro";
import Cube from "../components/Cube.astro";
import Bubbles from "../components/Bubbles.astro";
import Content from "../components/Content.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body  x-data="{show:false}">

		<div class="content-container">
			<div
				class="welcome-box"
				:class="show?'hidden':''"
			>
				</span>WELCOME TO</span>
				<div
					class="hover-box"
					@click="show = !show"
				>
					 -{"<"}.VitC.{">"}-
				</div>
			</div>
		</div>




		<div
			class="container"
			:class="show?'dive':''"
		>
			<div class="liquid"></div>
			<div style="height: 200vh;"></div>
			<Bubbles></Bubbles>
			<!-- style="  color:white;  z-index:2;  display: grid; place-items:center;   "  -->
			<div >
				<Content ></Content>
			</div>

			<Bubbles></Bubbles>
			<button style="  color:white;  z-index:2; margin-top: 100px; " class="hover-box"><h2>CONTACT US</h2></button>



		</div>
		<!-- <div class="content">

		</div> -->


	</body>
	<style>
		.hidden {
			opacity: 0;
			transition: opacity 1.6s ease, visibility 0s 1s; /* Delay of 1s */
		}

		body {
			/* background-color:#7293ff; */
			padding:0;
			margin:0;
			background:black;
			/* overflow: hidden; */
		}

		.content-container{
			height: 100vh;
			width: 100vw;
			position:absolute;
			display: grid;
			place-items: center;
		}

		.welcome-box {
			user-select:none;
			font: 700 60px consolas;
			color:aliceblue;
			border-radius: 5px;
			z-index:1;
		}

		.container{
			position:relative;
			display: grid;
			place-items: center;
			background:linear-gradient(to bottom, #7293ff, #0c1121);
			transition: 1.6s;
			overflow: hidden;
			top:0;
		}


		.liquid {
			position: absolute;
			width:2200px;
			height: 1200px;
			transition: 1.6s;
			top:-11%;
		}

		.liquid::after,
		.liquid::before {
			position: absolute;
			content: "";
			width: 200%;
			height: 400%;
			transform: translate(-25%, -75%);
		}

		.liquid::after {
			border-radius: 45%;
			background: rgba(20, 20, 20, 1);
			box-shadow: 0 0 10px 5px #7293ff, inset 0 0 5px #7293ff;
			animation: animate 16s linear infinite;
			opacity: 0.8;
		}

		.liquid::before {
			border-radius: 40%;
			box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
				inset 0 0 5px rgba(26, 26, 26, 0.5);
			background: rgba(26, 26, 26, 0.5);

			animation: animate 16s linear infinite;
		}

		@keyframes animate {
			0% {
				transform: translate(-25%, -75%) rotate(0);
			}
			100% {
				transform: translate(-25%, -75%) rotate(360deg);
			}
		}


		.hover-box {
			padding:0.75rem;
			border-radius: 5px;
            /* background-color: #3498db; */
            background-color: #7293ff;
        }

		.hover-box:hover   {
			box-shadow: 0 0 5px #7293ff, inset 0 0 5px #7293ff;
			transition-delay: 0.1s;
        }

		.content-container:hover {
			/* top:-50%;
			height: 100vh; */
		}

		/* .content-container:hover ~ .container {
			top:-300vh;
		} */

		.dive{
			top:-300vh;
			/* object-position: bottom center; */
		}
	</style>
</html>

