---
import Header from "../components/Header.astro";
import SVGDOCU from "../components/SVGDOCU.astro";
import Cube from "../components/Cube.astro";
import Bubbles from "../components/Bubbles.astro";
import Content from "../components/Content.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div
			class="welcome-box"
		>
			</span>Welcome To</span>
			<div class="hover-box"> - {"<"}.VITC.{">"} - </div>

		</div>

		<div class="content">
			<Content  ></Content>
		</div>
		
		<div class="liquid-container">
			<div class="liquid"></div>
			<Bubbles></Bubbles>
		</div>

	</body>
	<style>
		.liquid-container{
			position: absolute;
			height: 3200px;
			width: 100vw;
			left: 0;
			display: grid;
			place-items: center;
			background:linear-gradient(to bottom, #7293ff, #0c1121);
			transition: top 2.6s ease;
			top:0;
		}

		body {
			/* background-color:#7293ff; */
			height: 100vh;
			overflow: hidden;
			display: grid;
			place-items: center;
		}

		.welcome-box {
			height: 20%;
			user-select:none;
			top:0;
			font: 700 60px consolas;
			text-decoration: none;
			text-transform: uppercase;
			overflow: hidden;

			text-align: center;
			place-items:center;
			color:aliceblue;

			border-radius: 5px;
			z-index:2;

			transition: 1.6s;
		}

		.content{
			top:0;
			left:0;
			top:1.5%;
			height: 100vh;
			width: 100vw;
			position: absolute;
			z-index:1;
			display: none;
		}

		.liquid {
			position: relative;
			width:2200px;
			height: 1200px;
			left:-300px;
			transition: 1.6s;
			top:-40%;

		}

		.liquid::after,
		.liquid::before {
			position: absolute;
			content: "";
			width: 200%;
			height: 400%;
			/* top:-10%; */
			transform: translate(-25%, -75%);
		}

		.liquid::after {
			border-radius: 45%;
			background: rgba(20, 20, 20, 1);
			box-shadow: 0 0 10px 5px #7293ff, inset 0 0 5px #7293ff;
			animation: animate 16s linear infinite;
			opacity: 0.8;
		}

		.liquid::before {
			border-radius: 40%;
			box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
				inset 0 0 5px rgba(26, 26, 26, 0.5);
			background: rgba(26, 26, 26, 0.5);

			animation: animate 16s linear infinite;
		}

		@keyframes animate {
			0% {
				transform: translate(-25%, -75%) rotate(0);
			}
			100% {
				transform: translate(-25%, -75%) rotate(360deg);
			}
		}

		.hover-box {
			padding:5px;
			border-radius: 5px;
            /* background-color: #3498db; */
            background-color: #7293ff;
        }

		.hover-box:hover   {
			box-shadow: 0 0 5px #7293ff, inset 0 0 5px #7293ff;
			transition-delay: 0.6s;
        }

		.welcome-box:hover {
			margin:0;
			padding:0;
			top:-100%;
			height:200%;
			width:100%;
		}

		.welcome-box:hover ~ .content {
			display:flex;
		}

		.welcome-box:hover ~ .liquid-container   {
			top:-250%;
		}
	</style>
</html>

