---
import Header from "../components/Header.astro";
import SVGDOCU from "../components/SVGDOCU.astro";
import Cube from "../components/Cube.astro";
import Bubbles from "../components/Bubbles.astro";
import Content from "../components/Content.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body
		class="bg-gray-900 text-white select-none scroll-smooth"
		x-data="data"
		x-init
	>
		<div
			class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 w-80 text-center transition-all duration-1000  "
			:class="{'animate-pulse':!dive1}"
		>
			<span x-show="!dive1">WELCOME TO</span>
			<div
				class="border-2  rounded-3xl px-2 py-2 "
			>
				<div
					x-show="!dive1"
					:class="{'opacity-0': dive1}"
					class=" font-bold text-5xl  "
					@click="smoothScroll('#section1')"
				>
					-{"<"}.VitC.{">"}-
				</div>
				<div
					x-cloak
					:class="{'hidden': !dive1}"
				>
				</div>
			</div>
		</div>

		<div
			class="ocean-container relative linear-gradient-to-b from-blue-500 to-blue-800 overflow-hidden items-center justify-center"
		>
			<div class="liquid"></div>
			<div style="height:450vh"> </div>

			<secton id="section1"  >
				<div class="absolute   z-50 w-full" >
					<Content ></Content>
					<div
						x-ref="footer"
						x-transition.duration.500ms
						class="flex justify-center "
						style="margin-top:10rem;"
						:class="{'opacity-100 transition-opacity duration-500': showFooter, 'opacity-0': !showFooter}"
					>
						<button
							class=" hover-box  z-20 font-bold text-4xl  "
							:class="{'sticky': showFooter}"
						>
							<h2>CONTACT US</h2>
						</button>
					</div>
				</div>
			</section>
			<div style="height:200vh"> </div>
			<Bubbles></Bubbles>
		</div>

	</body>
	<script >
		import Alpine from 'alpinejs';
		import {scrollTo} from '../scripts/scrollControl';


		Alpine.data('data', () => ({
			dive1:false,
			showFooter:false,
			// Initialize IntersectionObserver
			init() {
				var options = {
					root: document.documentElement,
				};

				var callback = (visible) => {
					console.log("visible", visible);
					this.showFooter= visible
				}

				var observer = new IntersectionObserver((entries, observer) => {
					entries.forEach(entry => {
						callback(entry.intersectionRatio > 0);
					});
				} );

				const element = this.$refs.footer;
				observer.observe(element);

			},
			onVisible(element, callback) {

			},
			smoothScroll(target) {

				const targetPos = document.querySelector(target).offsetTop;

				window.scrollTo({
					top: targetPos,
					behavior: 'smooth' // Smooth scroll effect
				});
				// scrollTo(document.querySelector(target).offsetTop);
			}
		}));
	</script>
	<style>
		.sticky {
            position: fixed;
            bottom: 4rem;
            background-color: #4A5568; /* Tailwind gray-600 */
            z-index: 10; /* Ensure it stays above other content */
        }
		html {
            scroll-behavior: smooth; /* Enables smooth scrolling */
        }

		[x-cloak] {
			display: none;
		}

		.ocean-container{
			background:linear-gradient(to bottom, #7293ff, #0c1121);
		}

		.liquid {
			position: absolute;
			width:2400px;
			height: 1200px;
			left:-400px;
			transition: 1.6s;
			top:-11%;
		}

		.liquid::after,
		.liquid::before {
			position: absolute;
			content: "";
			width: 200%;
			height: 400%;
			transform: translate(-25%, -75%);
		}

		.liquid::after {
			border-radius: 45%;
			background: rgba(20, 20, 20, 1);
			box-shadow: 0 0 10px 5px #7293ff, inset 0 0 5px #7293ff;
			animation: animate 24s linear infinite;
			opacity: 0.8;
		}

		.liquid::before {
			border-radius: 40%;
			box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
				inset 0 0 5px rgba(26, 26, 26, 0.5);
			background: rgba(26, 26, 26, 0.5);
			animation: animate 24s linear infinite;
		}

		@keyframes animate {
			0% {
				transform: translate(-25%, -75%) rotate(0);
			}
			100% {
				transform: translate(-25%, -75%) rotate(360deg);
			}
		}

		.hover-box {
			padding:0.75rem;
			border-radius: 5px;
            /* background-color: #3498db; */
            background-color: #7293ff;
        }

		.hover-box:hover   {
			box-shadow: 0 0 15px #7293ff, inset 0 0 15px #7293ff;
			transition-delay: 0.1s;
        }

	</style>
</html>

