---
import Header from "../components/Header.astro";
import SVGDOCU from "../components/SVGDOCU.astro";
import Cube from "../components/Cube.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- LIQUID BACKGROUND -->
		<div class="liquid-container">
			<!-- style="  -->

			<div class="welcome-box">
				</span>Welcome To</span>
				<div class="hover-box"> - {"<"}.VITC.{">"} - </div>
			</div>
			<div class="liquid"></div>

		</div>

		<!-- <SVGDOCU></SVGDOCU> -->
	</body>
	<style>

		.liquid-container{
			position:relative;
			margin: 0;
			height: 100vh;
			display: grid;
			place-items: center;
		}

		body {
			background-color:#7293ff;
			overflow: hidden;
		}

		.welcome-box {
			font: 700 30px consolas;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			overflow: hidden;

			text-align: center;
			margin: 50px 50px;
			padding: 20px;
			color:aliceblue;

			border-radius: 5px;
			transition: 0.2s;
			transform: scale(2);
		}

		span {
			position: relative;
			color: #fff;
		}


		.liquid {
			position: absolute;
			/* width: 1800px;
			height: 900px; */
			width:2200px;
			height: 1200px;
			bottom:0;
			z-index: -1;
			transition: 1.6s;
			top:-50%
		}

		.liquid::after,
		.liquid::before {
			position: absolute;
			content: "";
			width: 200%;
			height: 400%;
			/* top:-10%; */
			transform: translate(-25%, -75%);
		}

		.liquid::after {
			border-radius: 45%;
			background: rgba(20, 20, 20, 1);
			box-shadow: 0 0 10px 5px #7293ff, inset 0 0 5px #7293ff;
			animation: animate 16s linear infinite;
			opacity: 0.8;
		}

		.liquid::before {
			border-radius: 40%;
			box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
				inset 0 0 5px rgba(26, 26, 26, 0.5);
			background: rgba(26, 26, 26, 0.5);

			animation: animate 16s linear infinite;
		}

		@keyframes animate {
			0% {
				transform: translate(-25%, -75%) rotate(0);
			}
			100% {
				transform: translate(-25%, -75%) rotate(360deg);
			}
		}

		.hover-box {
			padding:5px;
			border-radius: 5px;
            /* background-color: #3498db; */
            background-color: #7293ff;
            transition: top 0.5s ease; /* Smooth transition for the top property */
        }

		.hover-box:hover   {
			box-shadow: 0 0 5px #7293ff, inset 0 0 5px #7293ff;
			transition-delay: 0.6s;
        }

		.welcome-box:hover ~ .liquid {
			top:-170%;
		}
	</style>
</html>

