<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"  >
  <title>Persistent Hover</title>
  <style>
    body{
      height:100vh;
      width:100vw;
      background-color: lightblue;
    }
  </style>
</head>
<body>
  <div class="test"> Hallo </div> 
</body>
</html>
