---

---

<div
    class="vh-100 vw-100  text-center font-semibold text-2xl text-white py-10"
    x-data="contentData"
    x-init="init()"
    x-cloak
>

    <h1> Visionary Software Engineering Solutions for your Business </h1>
    <h2 :class="vpart1 ? 'visible' : 'hidden'"> Deep diving into your needs ...</h2>

    <div
        class="grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3  gap-3 justify-items-left mt-10 ml-7 mr-7"
        x-ref="contentDiv"
    >
        <div
            class=" hover-box grid grid-cols-2 overflow-hidden"
            :class="vpart2 ? 'visible' : 'hidden'"
        >
            <div class="text-center flex  flex-col  items-center">
                <h5>AI-Tech</h5>
                <svg
                    class="  mt-3"
                    width="128px"
                    height="128px"
                    viewBox="0 0 512 512"
                >
                    <title>ai</title>
                    <g id="icon" fill="#FFFFFF" >
                        <path
                            transform="scale(1.25)"
                            d="M320,64 L320,320 L64,320 L64,64 L320,64 Z M171.749388,128 L146.817842,128 L99.4840387,256 L121.976629,256 L130.913039,230.977 L187.575039,230.977 L196.319607,256 L220.167172,256 L171.749388,128 Z M260.093778,128 L237.691519,128 L237.691519,256 L260.093778,256 L260.093778,128 Z M159.094727,149.47526 L181.409039,213.333 L137.135039,213.333 L159.094727,149.47526 Z M341.333333,256 L384,256 L384,298.666667 L341.333333,298.666667 L341.333333,256 Z M85.3333333,341.333333 L128,341.333333 L128,384 L85.3333333,384 L85.3333333,341.333333 Z M170.666667,341.333333 L213.333333,341.333333 L213.333333,384 L170.666667,384 L170.666667,341.333333 Z M85.3333333,0 L128,0 L128,42.6666667 L85.3333333,42.6666667 L85.3333333,0 Z M256,341.333333 L298.666667,341.333333 L298.666667,384 L256,384 L256,341.333333 Z M170.666667,0 L213.333333,0 L213.333333,42.6666667 L170.666667,42.6666667 L170.666667,0 Z M256,0 L298.666667,0 L298.666667,42.6666667 L256,42.6666667 L256,0 Z M341.333333,170.666667 L384,170.666667 L384,213.333333 L341.333333,213.333333 L341.333333,170.666667 Z M0,256 L42.6666667,256 L42.6666667,298.666667 L0,298.666667 L0,256 Z M341.333333,85.3333333 L384,85.3333333 L384,128 L341.333333,128 L341.333333,85.3333333 Z M0,170.666667 L42.6666667,170.666667 L42.6666667,213.333333 L0,213.333333 L0,170.666667 Z M0,85.3333333 L42.6666667,85.3333333 L42.6666667,128 L0,128 L0,85.3333333 Z" id="Combined-Shape">
                        </path>
                    </g>
                </svg>
            </div>


            <div class="text-nowrap text-left mt-6 pr-20 overflow-hidden">
                <ul>
                    <li>- RAG Systems</li>
                    <li>- Chat Bots</li>
                </ul>
            </div>
        </div>

        <div
            class="hover-box grid grid-cols-2 overflow-hidden "
            :class="vpart3 ? 'visible' : 'hidden'"
        >
            <div class="text-center flex  flex-col  items-center">
                <h5>Front-End</h5>
                <img
                    class=""
                    width="148px"
                    height="148px"
                    style="filter: invert(1);"
                    src="https://png.pngtree.com/png-vector/20230304/ourmid/pngtree-back-end-developer-line-icon-vector-png-image_6631175.png"
                    alt=""
                >
            </div>


            <div class="text-nowrap text-left mt-6 pr-20 overflow-hidden">
                <ul>
                    <li>- React, Preact, Next</li>
                    <li>- Vue, Nuxt</li>
                    <li>- Angular</li>
                    <li>- Astro</li>
                </ul>
            </div>
        </div>

        <div
            class=" hover-box grid grid-cols-2 overflow-hidden text-ellipsis"
            :class="vpart4 ? 'visible' : 'hidden'"
        >
            <div class="text-center flex  flex-col  items-center">
                <h5 class="mr-2">Back-End</h5>
                <img
                    class="mt-2  w-128 h-128"
                    width="128px"
                    height="128px"
                    src="https://www.seekpng.com/png/full/825-8255564_png-file-svg-cloud-backend-icon.png"
                    style="filter: invert(1);"
                    alt=""
                >
            </div>

            <div class="text-nowrap text-left mt-6 pr-20 overflow-hidden">
                <ul>
                    <li>- Docker</li>
                    <li>- Kubernetes</li>
                    <li>- local, intern systems</li>
                    <li>- SQL, NoSQL, Vector DBs,...</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    import Alpine from 'alpinejs';

    Alpine.data('contentData', () => ({
        visible:true,
        vpart1:true,
        vpart2:true,
        vpart3:true,
        vpart4:true,
        vpart5:true,
        // Initialize IntersectionObserver
        init() {
            const dt = 600;
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if(entry.isIntersecting){
                        setTimeout(() => {
                            setTimeout(()=>{
                                this.vpart1 = true
                                setTimeout(()=>{
                                    this.vpart2 = true
                                    setTimeout(()=>{
                                        this.vpart3 = true
                                        setTimeout(()=>{
                                            this.vpart4 = true
                                            setTimeout(()=>{
                                                this.vpart5 = true
                                            },dt)
                                        },dt)
                                    },dt)
                                },dt)
                            },dt)
                            this.visible = true
                        },dt)

                } else {
                }
            });
            });
            observer.observe(this.$refs.contentDiv);
        }
    }));
</script>

<style>
    .hover-box {
        padding:0.75rem;
        border-radius: 5px;
        /* background-color: #3498db; */
    }

    .hover-box:hover   {
        box-shadow: 0 0 15px #7293ff, inset 0 0 15px #7293ff;
        transition-delay: 0.07s;
    }
</style>